/*SMALL SCREEN*/
@media (max-width: 600px) {

    .result {
        position: absolute;
        top: -10px;
        left: 0;
        min-width: 100vw;
        border-bottom-left-radius: 40px !important;
        border-bottom-right-radius: 40px !important;
    }

    .circle {
        position: relative;
        bottom: 30px !important;
        transform: scale(.9);
    }

    .circle p {
        position: relative;
        bottom: 15px;
    }

    .result h4 {
        position: relative;
        bottom: 40px;
    }

    .result>p {
        position: relative;
        bottom: 50px;
        font-size: 1.28em !important;
    }

    .summary {
        position: absolute;
        left: 0;
        top: 45%;
        min-width: 100vw;
    }
}

/*END SMALL SCREEN*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Hanken Grotesk, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    max-width: 700px;
    max-height: 512px;
    border-radius: 15px;
    box-shadow: 30px 30px 30px hsl(221, 100%, 96%);
}

.container p {
    font-size: 18px;
}

/*LEFT SIDE*/
.result {
    width: 47%;
    border-radius: 15px;
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    color: hsl(0, 0%, 100%);
}

.result h2 {
    text-align: center;
    padding: 35px;
    color: hsl(241, 100%, 89%);
}

.result h4 {
    font-size: 32px;
    text-align: center;
    padding: 20px;
}

.result>p {
    width: 70%;
    margin: auto;
    text-align: center;
    font-size: 15px;
    color: hsl(241, 100%, 89%);
}

.circle {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
}

.circle h3 {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 35px 0 0 0;
    font-size: 80px;
}

.circle p {
    color: hsl(241, 100%, 89%);
}

/*END LEFT SIDE*/

/*RIGHT SIDE*/
.summary {
    width: 50%;
    margin-left: -15px;
}

.summary h2 {
    text-align: left;
    margin: 40px 50px;
    line-height: 100%;
}

.category {
    width: 70%;
    margin: 0 auto;
}

.reaction,
.memory,
.verbal,
.visual {
    display: flex;
    padding: 12px 0;
    margin-bottom: 15px;
    justify-content: space-around;
    border-radius: 10px;
}

span {
    color: black;
    font-weight: 800;
}

p:not(span) {
    color: hsl(241, 100%, 89%);
}

.reaction {
    background-color: hsl(0, 100%, 97%);
}

.reaction .color {
    color: hsl(0, 100%, 67%);
}

.memory {
    background-color: hsl(39, 100%, 97%);
}

.memory .color {
    color: hsl(39, 100%, 56%);
}

.verbal {
    background-color: hsl(166, 100%, 97%);
}

.verbal .color {
    color: hsl(166, 100%, 37%);
}

.visual {
    background-color: hsl(234, 85%, 97%);
}

.visual .color {
    color: hsl(234, 85%, 45%);
}

button {
    display: block;
    margin: 40px auto;
    width: 65%;
    padding: 12px;
    border: none;
    border-radius: 40px;
    font-size: 17px;
    background-color: #303b59;
    color: hsl(0, 0%, 100%);
}

button:hover {
    background-color: hsl(252, 100%, 67%);
}

button:focus {
    background-color: hsl(241, 81%, 54%);
}

/*END RIGHT SIDE*/

footer {
    position: absolute;
    bottom: 10px;
}