* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Hanken Grotesk, sans-serif;
    font-size: 18px;
}

:root {
    --color-lightRed: hsl(0, 100%, 67%);
    --color-orangeyYellow: hsl(39, 100%, 56%);
    --color-greenTeal: hsl(166, 100%, 37%);
    --color-cobaltBlue: hsl(234, 85%, 45%);
    --color-white: hsl(0, 0%, 100%);
    --color-paleBlue: hsl(221, 100%, 96%);
    --color-lightLavender: hsl(241, 100%, 89%);
    --color-darkGrayBlue: hsl(224, 30%, 27%);
    --color-lightSlateBlue: hsl(252, 100%, 67%);
    --color-lightRoyalBlue: hsl(241, 81%, 54%);
    --color-violetBlue: hsla(256, 72%, 46%, 1);
    --color-persianBlue: hsla(241, 72%, 46%, 0);
}

.flexbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    background-color: var(--color-paleBlue);
    min-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
}

.result {
    width: 100%;
    border-radius: 0 0 2rem 2rem;
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    color: var(--color-white);

}

.result-title {
    text-align: center;
    color: var(--color-lightLavender);
    padding-top: 1.3rem;
}

.circle {
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    text-align: center;
    margin: 1rem auto;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
}

.points {
    font-size: 3rem;
}

.max-points {
    color: var(--color-lightLavender);
}

.result-text {
    width: 60%;
    text-align: center;
    padding: 1.1rem;
}

.message-title {
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 0.5rem;
}

.message {
    display: flex;
    text-align: center;
    color: var(--color-lightLavender);
}


.summary {
    width: 100%;
    background-color: var(--color-white);
}

.summary-title {
    padding: 1.5rem;
}

.category-list {
    list-style: none;
}

.category-item {
    display: flex;
}

/* span {
    color: black;
    font-weight: 800;
}

p:not(span) {
    color: hsl(241, 100%, 89%);
}

.reaction {
    background-color: hsl(0, 100%, 97%);
}

.reaction .color {
    color: hsl(0, 100%, 67%);
}

.memory {
    background-color: hsl(39, 100%, 97%);
}

.memory .color {
    color: hsl(39, 100%, 56%);
}

.verbal {
    background-color: hsl(166, 100%, 97%);
}

.verbal .color {
    color: hsl(166, 100%, 37%);
}

.visual {
    background-color: hsl(234, 85%, 97%);
}

.visual .color {
    color: hsl(234, 85%, 45%);
}

button {
    display: block;
    margin: 40px auto;
    width: 65%;
    padding: 12px;
    border: none;
    border-radius: 40px;
    font-size: 17px;
    background-color: #303b59;
    color: hsl(0, 0%, 100%);
}

button:hover {
    background-color: hsl(252, 100%, 67%);
}

button:focus {
    background-color: hsl(241, 81%, 54%);
} */

/*END RIGHT SIDE*/

footer {
    position: absolute;
    bottom: 10px;
}


/*SMALL SCREEN*/
/* @media (max-width: 768px) {

    .result {
        position: absolute;
        top: -10px;
        left: 0;
        min-width: 100vw;
        border-bottom-left-radius: 40px !important;
        border-bottom-right-radius: 40px !important;
    }

    .circle {
        position: relative;
        bottom: 30px !important;
        transform: scale(.9);
    }

    .circle p {
        position: relative;
        bottom: 15px;
    }

    .result h4 {
        position: relative;
        bottom: 40px;
    }

    .result>p {
        position: relative;
        bottom: 50px;
        font-size: 1.28em !important;
    }

    .summary {
        position: absolute;
        left: 0;
        top: 45%;
        min-width: 100vw;
    }
} */

/*END SMALL SCREEN*/