* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Hanken Grotesk, sans-serif;
    font-size: 18px;
}

:root {
    --color-lightRed: hsl(0, 100%, 67%);
    --color-orangeyYellow: hsl(39, 100%, 56%);
    --color-greenTeal: hsl(166, 100%, 37%);
    --color-cobaltBlue: hsl(234, 85%, 45%);
    --color-white: hsl(0, 0%, 100%);
    --color-paleBlue: hsl(221, 100%, 96%);
    --color-lightLavender: hsl(241, 100%, 89%);
    --color-darkGrayBlue: hsl(224, 30%, 27%);
    --color-lightSlateBlue: hsl(252, 100%, 67%);
    --color-lightRoyalBlue: hsl(241, 81%, 54%);
    --color-violetBlue: hsla(256, 72%, 46%, 1);
    --color-persianBlue: hsla(241, 72%, 46%, 0);
}

.flexbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    background-color: var(--color-paleBlue);
    min-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
}

.result {
    width: 100%;
    border-radius: 0 0 2rem 2rem;
    background-image: linear-gradient(var(--color-lightSlateBlue), var(--color-lightRoyalBlue));
    color: var(--color-white);
    box-shadow: 0 2px 30px var(--color-lightSlateBlue);
    z-index: 1;
}

.result-title {
    text-align: center;
    color: var(--color-lightLavender);
    padding-top: 1.3rem;
}

.circle {
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    text-align: center;
    margin: 1rem auto;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
}

.points {
    font-size: 3rem;
}

.max-points {
    color: var(--color-lightLavender);
}

.result-text {
    width: 60%;
    text-align: center;
    margin: 1.3rem;
}

.message-title {
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 0.5rem;
}

.message {
    display: flex;
    text-align: center;
    color: var(--color-lightLavender);
}


.summary {
    width: 100%;
    height: 100%;
    background-color: var(--color-white);
}

.summary-title {
    padding: 1.2rem;
}

.category-list {
    list-style: none;
    gap: 1rem;
    max-width: 80%;
    margin: auto;
}

.category-item {
    display: flex;
    padding: 0.8rem;
    width: 100%;
    border-radius: 8px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.score {
    font-weight: 700;
}

.gray {
    color: var(--color-lightSlateBlue);
}

.reaction {
    background-color: hsla(0, 100%, 67%, 0.1);
}

.color-red::before {
    content: "";
    display: inline-block;
    background-image: url(./assets/images/icon-reaction.svg);
    width: 20px;
    height: 20px;
}

.color-red {
    color: var(--color-lightRed);
    font-weight: 700;
}

.memory {
    background-color: hsla(39, 100%, 56%, 0.1);
}

.color-yellow::before {
    content: "";
    display: inline-block;
    background-image: url(./assets/images/icon-memory.svg);
    width: 20px;
    height: 20px;
}

.color-yellow {
    color: var(--color-orangeyYellow);
    font-weight: 700;
}

.verbal {
    background-color: hsla(166, 100%, 37%, 0.1);
}

.color-green::before {
    content: "";
    display: inline-block;
    background-image: url(./assets/images/icon-verbal.svg);
    width: 20px;
    height: 20px;
}

.color-green {
    color: var(--color-greenTeal);
    font-weight: 700;
}

.visual {
    background-color: hsla(234, 85%, 45%, 0.1);
}

.color-blue::before {
    content: "";
    display: inline-block;
    background-image: url(./assets/images/icon-visual.svg);
    width: 20px;
    height: 20px;
}

.color-blue {
    color: var(--color-cobaltBlue);
}

.btn {
    display: flex;
    margin: 1.1rem auto;
    padding: 1rem 9rem;
    border: none;
    border-radius: 40px;
    font-size: 1rem;
    background-color: var(--color-darkGrayBlue);
    color: var(--color-white);
}

button:hover {
    background-color: hsl(252, 100%, 67%);
}

button:focus {
    background-color: hsl(241, 81%, 54%);
}



@media (min-width: 768px) {

    main {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    .flexbox-row {
        display: flex;
        flex-direction: row;
        max-width: 600px;
        max-height: 400px;
        background-color: var(--color-white);
        border-radius: 2rem;
    }

    .result {
        height: 100%;
        border-radius: 2rem;
        box-shadow: none;
        z-index: 1;
    }

    .result-text {
        width: 75%;
        text-align: center;
    }

    .message {
        font-size: 0.9rem;
    }

    .summary {
        padding: 1rem;
        width: 50%;
        height: 100%;
        background-color: transparent;
    }

    .category-item {
        font-size: 0.5rem;
    }
}